:root{
    --color-body:#808080; --color-white:#FFFFFF; --color-grey:#AAAAAA;
    --color-disable:#E5E5e5; --color-title:#1C3554; --color-pink:#F72585;
    --color-orange:#FAA307; --color-in-field:#cccccc; --color-blue:#4586D6;
    --color-navy:#021934;
    
    --font-primary: 'Montserrat', sans-serif;
    --font-header: 'Rubik','Montserrat', sans-serif;
    --font-semibold: "Montserrat SemiBold", sans-serif;
    --font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

    --radius:8px;
    --shadow: 40px 40px 57px 0px rgba(0, 0, 0, 0.1);
}
*{box-sizing: border-box;}

html,body{padding: 0; margin: 0;width: 100%;}

body{
    background-color: var(--color-white);
    font-family: var(--font-primary), var(--font-fallback);
    font-size: 16px;
    line-height: 1.5rem;
}

h4{
    font-size: 2rem;
    line-height: 1.5em;
}

h6{
    font-size: 1.5rem;
    line-height: 1.5em;
}
/* HEADER */
header{
    width: 100%;
}

.overlay{
    background-color: var(--color-body);
    width: 100%;
    height: 440px;

    box-sizing: border-box;
}

.navbar{
    width: 100%;
    height: 120px;
    /* padding: 36px 104px; */
    padding: clamp(16px, 2.5vw, 36px) clamp(20px, 8vw, 104px);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 24px; */
    gap: clamp(12px, 2vw ,24px);

    box-sizing: border-box;
}

.nav__logo img{
    height: 32px;
    width: auto;
}

.nav__search{
    position: relative;
    flex: 0 1 443px;
    min-width: 225px;
}

.nav__search form {
    position: relative;
}

.searchbar{
    width: 100%;
    height: 48px;
    border-radius: var(--radius);
    background-color: var(--color-body);
    border: 1px solid var(--color-white);
    padding: 0 16px;
    color: var(--color-white);
}

.searchbar::placeholder{
    opacity: 1;
    color: var(--color-disable);
    font-family: var(--font-primary);
    font-size: 0.875rem;
}

.search__icon{
    position: absolute;
    right: 16px;
    top:50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.nav__menu{
    display: flex;
    align-items: center;
}

.nav__menu p{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.nav__menu img{
    width: 24px;
    height: auto;
    max-height: 24px;
}

.nav__text{
    font-weight: 600;
    margin: 0;
}

.profile{
    display: flex;
    gap: 0.5rem;
}

.profile p{
    font-size: 0.875rem;
    font-weight: 400px;
}
.profile__img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--color-grey);
}

/* PROFILE */
.profile__container{
    margin: 48px  104px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.profile__photo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--color-in-field);
}

.profile__text-container{
    display: flex;
    flex-direction: column;
}

.profile__name{
    font-family: var(--font-header);
    font-weight: 700;
    color: var(--color-title);
    margin: 0;
}

.profile__description{
    font-family: var(--font-header);
    font-weight: 500;
    color: var(--color-body);
    margin: 0;
}

/* PROFILE NAVIGATION */
.nav__list{
    margin: 0 240px;
    list-style: none;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки равной ширины */
    align-items: center;
    justify-items: center;
}

.nav__item{
    margin: 0;
    font-family: var(--font-header);
    line-height: 1.5em;
    /* font-weight: 400; */
    font-variation-settings: 'wght' 400;

    color: var(--color-body);
    padding-bottom: 8px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    cursor: pointer;

}

.nav__item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 5px;
    background-color: var(--color-pink);
    border-radius: 22px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
}

.nav__item:hover{
    color: var(--color-title);
    transform: translateY(-1px);
}

.nav__item--active{
    /* font-weight: 500; */
    font-variation-settings: 'wght' 500;

    color: var(--color-title);
}

.nav__item--active::after{
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.nav__item--active:hover{
    transform: translateY(-1px);
}

/* COURSES */
.courses{
    padding: 40px 106px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
    gap: 1rem;
}

.course-card{
    width: 100%;
    max-width: 295px;
    height: 427px;
    border-radius: var(--radius);
    padding: 16px;
    transition: all 0.15s ease;
}

.active-card{
    width: 100%;
    max-width: 295px;
    height: 427px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    padding: 16px;
    transition: all 0.15s ease;
}

.course-card:hover{
    box-shadow: var(--shadow);
}

.course-card__image-container {
    position: relative;
}

.course-card__img{
    width: 100%;
    height: 208px;
    object-fit: cover;
    background-color: var(--color-in-field);
    border-radius: 4px;
    display: block;
}

.course-card__button{
    position: absolute;
    left: 50%; /* Центрируем по горизонтали */
    bottom: -16px; /* Отступ от нижней границы */
    transform: translateX(-50%);
    background-color: var(--color-blue);
    border-radius:var(--radius);
    padding: 4px 24px;
    color: var(--color-white);
    font-size: 0.75rem;
    line-height: 2em;
    font-family: var(--font-semibold);
    font-weight: 400;
    border: none;
    /* white-space: nowrap; */
    width: max-content;
}

.course-card__header{
    color: var(--color-title);
    font-family: var(--font-header);
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 8px;
}

.course-card__description{
    font-size: 0.75rem;
    color: var(--color-pink);
    font-family: var(--font-semibold);
    font-weight: 400;
    line-height: 2em;
    margin: 0;
}

.rating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.rating__img img{
    width: 16.05px;
    height: 16px;
}

.rating-text{
    margin: 0;
    color: var(--color-body);
    font-size: 0.875rem;
    font-family: var(--font-semibold);
    font-weight: 400;
}

.price{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.strike-price{
    color: var(--color-in-field);
    font-family: "Raleway SemiBold", 'Montserrat', sans-serif;
    font-weight: 400;
}
.real-price{
    margin: 0;
    font-family: var(--font-header);
    color: var(--color-title);
    font-weight: 500;
    font-size: 1.5rem;
}

/* FOOTER */
.footer{
    /* margin: 160px 40px 40px 40px; */
    margin: clamp(80px, 12vw, 160px) clamp(20px, 3vw, 40px) clamp(20px, 3vw, 40px) clamp(20px, 3vw, 40px);
    /* padding: 80px 103px 40px 68px; */
    padding: clamp(40px, 6vw, 80px) clamp(45px, 8vw,103px) clamp(20px, 3vw, 40px) clamp(38px, 5vw, 68px);
    background-color: var(--color-navy);
    color: var(--color-white);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
    gap: clamp(16px, 4vw, 80px);
}

.footer-logo{
    height: 32px;
    width: auto;
}

.upper-footer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 20px;
}

.upper-footer__main{
    max-width: min(500px, 100%);
    /* max-width: min(500px, 100%); */
    align-self: flex-start;
}

.upper-footer__text{
    font-weight: 400;
}

.upper-footer__links{
    align-self: flex-end;
    display: flex;
    /* gap: 110px; */
    gap: clamp(86px, 8vw,110px);
    justify-content: space-between;
}

.links__header-wrapper{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 0;
    cursor: pointer;
    font-size: 1.5rem;
}

.links__toggle{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.15s ease;
}

.links__toggle.rotated{
    transform: rotate(180deg);
}

.links__header{
    font-family: var(--font-header);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.links-list{
    transition: max-height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
}

.footer-link{
    font-family: var(--font-semibold);
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.lower-footer{
    display: flex;
    justify-content: space-between;
}

.menu-bottom{
    align-self: flex-start;
    display: flex;
    gap: 40px;
}

.menu-bottom__link{
    line-height: 1.6875rem;
    text-decoration: none;
    color: var(--color-white);
}

.footer-rights{
    line-height: 1.6875rem;
    margin: 0;
    align-self: flex-end;
}   

@media (max-width:1024px){
    .navbar {
        flex-wrap: wrap;
        height: auto;
    }
    
    .nav__search {
        flex: 1 1 auto;
        min-width: 225px;
    }
    .nav__menu {
        margin-right: auto;
    }
    
    .profile p {
        display: none;
    }
    
    .upper-footer__links{
        flex-direction: column;
        gap:12px;
    }
    .links-list{
        display: none;
        max-height: 0;
        opacity: 0;
        margin-top: 1rem;
    }

    .links-list.active {
        display: block; /* Показываем при активации */
        max-height: 500px;
        opacity: 1;
    }

    .links__header{
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .links__toggle {
        display: block;
        font-size: 1.25rem;
    }
}

@media (max-width: 768px){
    
    .nav__search {
        flex: 1 1 100%;
        margin-bottom: 8px;
    }
    
    .nav__menu {
        margin-right: 0;
    }
    .nav__text {
        margin: 0 auto;
    }
    
    .upper-footer{
        flex-wrap: wrap;
        gap: 8px;
    }

    .upper-footer__links{
        flex-direction: row;
        gap: clamp(16px, 6vw,110px);
    }
    .links-list{
        display: none;
    }

    .lower-footer{
        flex-wrap: wrap;
        gap: 16px;
    }
}